.titleFooter {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 85px;
    color: #39374D;
    padding: 2em 0 0;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}

.contacts {
    display: grid;
    gap: 4em;
    justify-content: center;
    grid-template-columns: 20% 10% 20%;
}

.profile {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #39374D;
    text-align: center;
}

.aboutUs {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
}

.contacts_1 {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #39374D;
    margin-bottom: 1em;
}

.media {
    display: flex;
    justify-content: center;
    gap: 4em;
}

.termAndPrivacy {
    display: flex;
    margin-bottom: 1em;
    justify-content: center;
    gap: 5em;
}

.term {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.privacy {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}

.copyrigth {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    padding: 0 0 2em;
    font-size: 18px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #39374D;
}