* {
    box-sizing: border-box;
}

header {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

body {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
}

a {
    text-decoration: none;
}

.logoProfile {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    color: #39374D;
    text-transform: uppercase;
}

nav{
    gap: 3em;
    display: flex;
    align-items: center;
}

.menuProfile {
    justify-self: end;
    text-align: left;
}

.findingCourseProfile {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}
.textButtonLogin.toSettings{
    width: 25%;
    margin: -19% 45% 80% 0;
}
input {
    width: 60%;
    margin-left: 90%;
    background-color: transparent;
    font-size: larger;
    border: none;
}
input:focus-visible{
    border: none;
    outline:none;

}
.buttonLoginPage {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}

.textButtonLogin {
    width: 100%;
    padding: 1em;
    border-radius: 30px 0;
    filter: drop-shadow(6px 6px 15px rgba(63, 61, 86, 0.3));
    background: #8878AF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: PT Sans;
    font-style: normal;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    line-height: 10px;
}

.textUnderButtonLoginPage {
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}
.aboutUsProfile {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}

.myProfileInProfile {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #39374D;
}

.burgerProfile {
    display: block;
}

/*-----------------------------------------*/

.titleProfile {
    font-family: PT Serif;
    font-size: 48px;
    padding: 1em 0;
    margin: 0;
    color: #39374D;
}

.contentProfile {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}

.name-conteinerProfilePage {
    width: 70%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.nameProfilePage {
    width: 70%;
    border-radius: 30px 0;
    padding: 0 2em;
    border: 2px solid #8878AF;
    font-size: larger;
}

.parametrsProfile {
    display: grid;
    justify-items: end;
    gap: 2em;
}

.titleNameProfile {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #AFAFAF;
}

.nameProfile {
    font-family: PT Sans;
    font-weight: bold;
    text-align: end;
    font-size: 24px;
    color: #8878AF;
}

.surname-conteinerProfilePage {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.surnameProfilePage {
    width: 90%;
    border-radius: 30px 0;
    padding: 0 2em;
    border: 2px solid #8878AF;
    font-size: larger;
}

.titleSurProfile {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #AFAFAF;
}

.surProfile {
    font-family: PT Sans;
    font-weight: bold;
    text-align: end;
    font-size: 24px;
    color: #8878AF;
}

/*----------------------------------*/

.thirdLineProfile {
    display: flex;
    width: 90%;
    gap: 0 1em;
    grid-template-columns: 48% 48%;
}

.height-conteinerProfilePage {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.heightProfilePage {
    width: 70%;
    border-radius: 30px 0;
    padding: 0 2em;
    border: 2px solid #8878AF;
    font-size: larger;
}

.titleHeightProfile {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #AFAFAF;
}

.heightProfile {
    font-family: PT Sans;
    font-weight: bold;
    text-align: end;
    font-size: 24px;
    color: #8878AF;
}

.weight-conteinerProfilePage {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.weightProfilePage {
    width: 70%;
    border-radius: 30px 0;
    padding: 0 2em;
    border: 2px solid #8878AF;
    font-size: larger;
}

.titleWeightProfile {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #AFAFAF;
}

.weightProfile {
    font-family: PT Sans;
    font-weight: bold;
    text-align: end;
    font-size: 24px;
    color: #8878AF;
}

/*------------------------------------------*/
.fourthLineProfile {
    display: flex;
    width: 90%;
    gap: 0 1em;
    grid-template-columns: 28% 68%;
}

.age-conteinerProfilePage {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.ageProfilePage {
    width: 70%;
    border-radius: 30px 0;
    padding: 0 2em;
    border: 2px solid #8878AF;
    font-size: larger;
}

.titleAgeProfile {
    font-family: PT Sans;
    font-weight: normal;
    font-size: 24px;
    color: #AFAFAF;
}

.ageProfile {
    font-family: PT Sans;
    font-weight: bold;
    text-align: end;
    font-size: 24px;
    color: #8878AF;
}

.goal-conteinerProfilePage {
    width: 100%;
    display: grid;
    align-items: center;
    padding: 0.5em 0;
    grid-template-columns: 20% 80%;
}

.goalProfilePage {
    width: 70%;
    border-radius: 30px 0;
    padding: 0 2em;
    border: 2px solid #8878AF;
    font-size: larger;
}

.titleGoalProfile {
    font-family: PT Sans;
    font-weight: normal;
    margin: 0;
    font-size: 24px;
    color: #AFAFAF;
}

.goalProfile {
    font-family: PT Sans;
    font-weight: bold;
    text-align: end;
    margin: 0;
    font-size: 24px;
    color: #8878AF;
}